body {
    font-family: 'Roboto', sans-serif;
}


/* --------------------------- Navbar */

.alert {
    position: relative;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 0;
    
    border-radius: 0;
}

.alert-info {
    color: #b52606;
    background-color: #e6d04c;
    border-color: #e6d04c;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}



/* --------------------------- Callout */

.callout-container {
    height: 100vh;

    background: url('../images/girl-romanian.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat-x;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}



/* --------------------------- Jumbotron */

.jumbotron {
    background-color: transparent;
}

/*#c32b2b*/
.jumbotron h1 {
    color: #c32b2b;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #05259a;
    margin: 25px 0;
    font-size: 26px;
}

span { 
    background-color: #e7eff3; 
    opacity: 0.8;
}



/* --------------------------- Block dividers */

.block-divider {
    width: 85px;
    height: 4px;
    border: 0;
    background-color: #444;
}

.block-divider--callout {
    background-color: #df4929;
}

.block-divider--heading {
    width: 70px;
    height: 3px;
    background-color: #df4929;
}

.block-divider--quotes {
    width: 300px;
    height: 1px;
    background-color: #df4929;

}


/* --------------------------- Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #df4929;
    border-color: #df4929;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #fa163f;
    border-color: #fa163f;
    color: white;
}

.btn--features {
    color: #f7f7f7;
    background-color: #323643;

}

.btn--features:hover {
    background: #ff570c;
    border-color: #ff570c;
}

.btn--footer {
    font-size: 14px;
    font-weight: bold;
    background-color: #f7f7f7;
}

.btn--footer:hover {
    background: #ff570c;
}


/* --------------------------------------------Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.page-header h2 {
    margin-top: 0;
}




/* --------------------------- Quotes */

.quotes {
    background-color: #fff;
} 

.quote-center {
    height: auto; 
    position: relative;
    text-align: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



div.quote-center p {
    text-align: center;
    position: absolute;
    margin: 0;
    height: inherit; 
    top: 50%;
    transform: translateY(-50%);
}
    

@media (max-width: 767px) {
    div.quote-center p {
        text-align: center;
        position: relative;
        margin: 0;
        height: inherit; 
        top: 50%;
        transform: translateY(-50%);
    }
}


/* --------------------------- Footer */


footer {
    background-color: #323643;
    color: #f7f7f7;
    min-height: 100px;
    margin: 0;
    padding: 20px;
}


.social-links {
    padding-bottom: 0;
    margin: 0;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 22px;
    line-height: 7px;
    text-align: center;
    color: #323643;
    background: #f7f7f7;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ff570c;
}


.contact-details {
    padding-bottom: 0;
    margin: 0;
}

.contact--symbol { 
    padding-bottom: 15px;
    font-size: 16px;
}

.contact--symbol li i {
    width: 36px;
    height: 36px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 22px;
    line-height: 15px;
    text-align: center;
    color: #323643;
    background: #f7f7f7;
}
