body {
    font-family: 'Roboto', sans-serif;
}


/* --------------------------- Navbar */

.alert {
    position: relative;
    padding: 2px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

.alert-info {
    color: #b52606;
    background-color: #e6d04c;
    border-color: #e6d04c;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}







/* --------------------------- Callout */

.callout-container {
    height: 100vh;

    background: url('../images/girl-romanian.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}


/* --------------------------- Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #00334e;
    margin: 25px 0;
}

.jumbotron p {
    color: #00334e;
}


/* --------------------------- Block dividers */

.block-divider {
    width: 85px;
    height: 4px;
    border: 0;
    background-color: #444;
}

.block-divider--callout {
    background-color: #df4929;
}


/* --------------------------- Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #df4929;
    border-color: #df4929;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #fa163f;
    border-color: #fa163f;
    color: white;
}


